Logged in as <%= @student.email %>

<!-- Testing Paperclip -->



<%= form_for @student, :url => student_path(@student), :html => { :multipart => true } do |form| %>
  <%= form.file_field :portfolio %>
<%= form.submit %>
<% end %>

<% if flash[:success] %>
  <p>User updated!</p>
<% end %>

<%= image_tag @student.portfolio.url(:medium) %>

<%= link_to "Logout", "/logout", method: :delete %>

