<div class="students list">
  <% @students.each do |student| %>
    <div class="student">
     <p>Name: <%= student.f_name student.l_name %></p>
     <p>Gender: <%= student.sex %></p>
     <p>Birthdate: <%= student.born_on %></p>
     <p>Email: <%= student.email %></p>
     <p>Phone: <%= student.phone %></p>
     <%= link_to("View This Student", student_path(student)) %>
    </div>
    <%= link_to("Return Home", student_path(student)) %>
  <% end %>
</div>
