<div class="phone interview">
   <div class="phone">
     <p>Name:       <%= phone.name %></p>
     <p>Date:       <%= phone.date %></p>
     <p>question_1: <%= phone.question_1 %></p>
     <p>question_2: <%= phone.question_2 %></p>
     <p>question_3: <%= phone.question_3 %></p>
     <p>question_4: <%= phone.question_4 %></p>
     <p>question_5: <%= phone.question_5 %></p>
     <p>question_6: <%= phone.question_6 %></p>
     <p>question_7: <%= phone.question_7 %></p>
   </div>
  <% end %>
</div>
