
<!-- Logged in as <%= current_user.email %>

<%= link_to "Logout", "/logout", method: :delete %>

<h1>Welcome to the Admissions Portal</h1>

<%= link to("View Student List", students_path) %>
<%= link to("Conduct a Phone Interview", new_students_path) %>
<%= link to("Email a Student", edit_students_path) %>
 -->
<!-- <h1> hi from admissions!</h1>
 -->
